@tailwind base;
@tailwind components;
@tailwind utilities;

header{
    background:url(./assets/background.jpg);
    background-size: cover;
    background-position: center;
}
div.formHeader{
    background-image: url(./assets/background.jpg);
    background-size: cover;
    background-position: center;
}
.banner{
    background-image: url(./assets/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}